h3{
    color: black;
}

.dateEmbed{
    margin-top: 60px;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    justify-content: space-around;
    display: inline-block;
    background-color: #EDDABA;
}